# Local env files
.env
.env.*
!.env.example
config.yml

# build / tests
version-badge
internal/back/domain/templates/badge.svg
node_modules
/coverage.out

# ide
.idea/*
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/copyright
*.iml
